@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #3182ce;
    --hero-bg: #ebf8ff;
    --txt-color: rgba(74, 85, 104, 0.55);
}

* {
    padding: 0;
    margin: 0;
    font-family: "Inter", "sans-serif";
    user-select: none;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    background: #fff;
}

body.isLoad {
    overflow: hidden;
}

.load {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: var(--hero-bg);
    z-index: 9999;
    position: fixed;
    inset: 0;

    .loadPage {
        width: 50px;
        aspect-ratio: 1;
        display: grid;
        border: 4px solid #0000;
        border-radius: 50%;
        border-color: #ccc #0000;
        animation: loadPage 1s infinite linear;
    }
    .loadPage::before,
    .loadPage::after {
        content: "";
        grid-area: 1/1;
        margin: 2px;
        border: inherit;
        border-radius: 50%;
    }
    .loadPage::before {
        border-color: var(--primary-color) #0000;
        animation: inherit;
        animation-duration: .5s;
        animation-direction: reverse;
    }
    .loadPage::after {
        margin: 8px;
    }
}


.sticky {
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 4px #0000003d;
}

.hidden-scrollbar {
    overflow: hidden;
}

.text-red {
    color: #dc3545;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.menu {
    display: none;
}

.active-menu {
    transform: translateX(0%) !important;
    opacity: 1 !important;
}

.logo {
    cursor: pointer;

    img {
        width: 28px;
        height: 28px;
    }
}

.backToTop {
    height: 38px;
    width: 38px;
    background: var(--primary-color);
    position: fixed;
    bottom: -100%;
    right: 20px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .7;
    cursor: pointer;
    transition: bottom 1s, opacity .3s;

    &:hover {
        opacity: 1;
    }
}

.backToTop.scroll {
    bottom: 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 65px;
    z-index: 100;
    background: transparent;
    transition: all .3s ease-in-out;

    .logo {
        display: flex;
        gap: .8rem;
        align-items: center;

        p {
            font-size: 20px;
            font-weight: 600;
            position: relative;
            top: 1.8px;
        }
    }

    .nav-link .header {
        display: none;
    }

    .nav-link ul {
        display: flex;
        gap: .5rem;

        li {
            padding: 5px 12px;
            cursor: pointer;
            color: #111;
            transition: all .2s;
            white-space: nowrap;

            &:hover {
                color: var(--primary-color);
            }
        }
    }

    .contact-button {
        button {
            border: 1px solid var(--primary-color);
            outline: none;
            background: transparent;
            color: var(--primary-color);
            font-size: 15px;
            font-weight: 600;
            padding: 8px 12px;
            border-radius: 10px;
            cursor: pointer;
            transition: .2s;
            white-space: nowrap;

            &:hover {
                background: var(--primary-color);
                color: #fff;
            }
        }
    }
}

nav ul li.active {
    color: var(--primary-color)
}

main {
    width: 100%;

    .title {
        color: var(--txt-color);
        font-weight: 800;
        font-size: 35px;
        text-align: center;
        margin: 4rem 0;
        text-transform: capitalize;
    }

    .hero {
        background: var(--hero-bg);
        overflow: hidden;

        .details {
            width: 1024px;
            margin: 0 auto;
            height: 100vh;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            gap: 1.2rem;

            button {
                background: var(--primary-color);
                color: #fff;
                font-size: 15px;
                font-weight: 600;
                border: none;
                outline: none;
                padding: 10px 20px;
                border-radius: 20px;
                cursor: pointer;
                transition: .2s;

                &:hover {
                    opacity: .8;
                }
            }

            p:nth-child(1) {
                font-weight: 800;
                font-size: 50px;
                color: var(--txt-color)
            }

            p:nth-child(2) {
                font-weight: 300;
                font-size: 20px;
                color: #333;
            }

            .hero-infos {
                display: flex;
                flex-direction: column;
                gap: 1.2rem;
                position: relative;
                top: 3rem;
            }
        }
    }

    .apropos {
        .video {
            .loader {
                font-weight: bold;
                font-family: sans-serif;
                font-size: 20px;
                animation: iframeLoader 1s linear infinite alternate;
                position: absolute;
                color: var(--primary-color);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .loader:before {
                content: "Loading..."
            }

            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 10px;
            position: relative;

            iframe {
                width: 800px;
                height: 500px;
                border-radius: 20px;
                border: none;
            }

            .thumb {
                width: 800px;
                position: relative;
                color: #fff;
                padding: 10px;

                img {
                    width: 100%;
                    border-radius: 20px;
                }

                .thumb-play {
                    button {
                        outline: none;
                        border: 1px solid var(--primary-color);
                        border-radius: 20px;
                        display: flex;
                        gap: .4rem;
                        align-items: center;
                        padding: 8px 15px;
                        cursor: pointer;
                        color: var(--primary-color);
                        background: transparent;

                        &:hover {
                            background: var(--primary-color);
                            color: #fff;
                        }
                    }
                }
            }
        }

        .container {
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 2fr;
            gap: 1.5rem;

            .infos {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                p {
                    color: #333;
                    font-size: 20px;
                    line-height: 1.8rem;
                    text-align: justify;
                }
            }
        }
    }

    .box-history {
        width: 1024px;
        margin: 5rem auto;

        .history-title {
            font-size: 14px;
            font-weight: 800;
            text-transform: uppercase;
            position: relative;
            transform: translateX(130px);
            width: 200px;

            &::before {
                content: "";
                position: absolute;
                top: 38%;
                left: -130px;
                width: 120px;
                height: 2px;
                background: var(--primary-color);
                border-radius: 20px;
            }
        }

        .sub-title {
            font-size: 26px;
            font-weight: 800;
            text-transform: uppercase;
            margin: 8px 0 20px;
            color: var(--txt-color);
        }

        .history {
            font-size: 18px;
            font-weight: 300;
            text-align: justify;
            line-height: 1.7rem;
            color: #555;
        }
    }

    .services {
        width: 100%;

        .cards {
            display: grid;
            grid-template-columns: repeat(3, 0fr);
            gap: 1.2rem;
            justify-content: center;

            .card {
                background: #fff;
                width: 320px;
                padding: 20px 30px;
                display: flex;
                flex-direction: column;
                gap: .5rem;
                border: 1px solid #eee;
                border-radius: 15px;
                cursor: pointer;
                transition: .3s;

                &:hover {
                    border-color: var(--txt-color);
                }

                svg {
                    transition: .3s;
                    transform: rotate(20deg);
                }

                &:hover svg {
                    transform: rotate(0deg);
                }

                svg {
                    margin: 0 0 9px 0;
                    font-size: 28px;
                }

                .card-title {
                    font-size: 22px;
                    font-weight: 600;
                    color: var(--txt-color);
                }

                .desc {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.5rem;
                    color: #333;
                }

                button {
                    border: none;
                    outline: none;
                    background: transparent;
                    font-size: 15px;
                    display: flex;
                    gap: .4rem;
                    margin: 10px 0;
                    cursor: pointer;
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 30%;
                        height: 1px;
                        background: #000;
                        transition: all .4s;
                    }

                    &:hover::before {
                        width: 100%;
                    }

                    svg {
                        transition: .4s;
                        opacity: 0;
                    }

                    &:hover svg {
                        transform: translateX(5px);
                        opacity: 1;
                    }
                }
            }
        }
    }

    .projects {
        .projects-cards {
            display: grid;
            grid-template-columns: repeat(3, 0fr);
            gap: 1.5rem;
            justify-content: center;

            .card {
                width: 320px;
                position: relative;
                overflow: hidden;

                &:hover .desc {
                    transform: translateY(0);
                }

                img {
                    width: 100%;
                    border-radius: 20px;
                }

                .desc {

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: .5rem;

                    p {
                        font-size: 18px;
                        font-weight: 600;
                        color: var(--txt-color);
                    }

                    button {
                        outline: none;
                        padding: 10px 20px;
                        border: 1px solid var(--primary-color);
                        border-radius: 25px;
                        color: var(--primary-color);
                        background: transparent;
                        cursor: pointer;
                        font-size: 16px;
                        font-weight: 500;
                        transition: .2s;

                        &:hover {
                            background: var(--primary-color);
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    .members {
        .members-cards {
            display: grid;
            grid-template-columns: repeat(3, 0fr);
            justify-content: center;
            gap: 1.5rem;

            .card {
                width: 220px;

                img {
                    width: 100%;
                }

                .desc {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    gap: .4rem;
                    margin: 5px 0;

                    p:nth-child(1) {
                        color: var(--txt-color);
                        font-size: 20px;
                        font-weight: 500;
                        text-align: center;
                    }

                    p:nth-child(2) {
                        color: #666;
                        font-size: 18px;
                        text-align: center;
                    }
                }
            }
        }
    }

    .testimony {
        .testimony-cards {
            display: grid;
            grid-template-columns: repeat(3, 0fr);
            justify-content: center;
            gap: 1.5rem;
        }

        .card {
            width: 280px;
            background: #fff;
            padding: 20px 30px;
            box-shadow: 0 0 9px #00000029;
            border-radius: 15px;

            .profil {
                display: flex;
                align-items: center;
                gap: 1rem;
                color: #555;

                .name {
                    display: flex;
                    flex-direction: column;
                    gap: .3rem;
                }

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
            }

            .infos {
                margin-top: 10px;

                p:nth-child(1) {
                    font-size: 18px;
                    color: var(--txt-color);
                    line-height: 1.7rem;
                }

                p:nth-child(2) {
                    font-size: 13px;
                    color: #666;
                    text-align: right;
                    margin: 10px 0;
                }
            }
        }


    }

    .contact {
        .info-title {
            font-size: 22px;
            font-weight: 600;
            color: #333;
            text-transform: capitalize;
            margin: 30px 0;
        }

        .desc {
            font-size: 30px;
            color: #333;
            font-weight: 600;
            line-height: 2.5rem;
            text-align: center;
            margin: -20px 0 0;
        }

        .informations {
            display: grid;
            grid-template-columns: 1fr 2fr;
            justify-content: center;

            .cords-details {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                .cord-info {
                    display: grid;
                    grid-template-columns: 0fr 1fr;
                    gap: 1rem;

                    i {
                        font-size: 18px;
                    }

                    .cord-desc {
                        display: flex;
                        flex-direction: column;
                        gap: .2rem;

                        p:nth-child(1) {
                            font-weight: 500;
                            font-size: 18px;
                            margin: 0 0 5px;
                        }

                        p.indicate {
                            color: #666;
                            font-size: 14px;

                            a {
                                text-decoration: none;
                                color: #000;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }

            form {
                background: #fff;
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.16);
                padding: 15px 30px;
                border-radius: 15px;
                position: relative;
                top: -50px;

                .form-title {
                    font-size: 28px;
                    font-weight: 700;
                    color: #333;
                    margin: 20px 0;
                }

                .input {
                    display: flex;
                    flex-direction: column;
                    gap: .8rem;
                    margin: .8rem 0;

                    label {
                        color: #555;
                        font-weight: 500;
                        font-size: 18px;
                    }

                    input,
                    textarea {
                        outline: none;
                        border: 1px solid #bbb;
                        padding: 10px 14px;
                        font-size: 15px;
                        border-radius: 10px;
                        transition: all .2s;

                        &:focus {
                            box-shadow: 0 0 0 3px var(--txt-color);
                            border-color: var(--txt-color);
                        }
                    }

                    textarea {
                        resize: none;
                        height: 200px;
                    }
                }

                .button {
                    margin: 18px 0;

                    button {
                        outline: none;
                        padding: 12px 40px;
                        color: var(--primary-color);
                        border: 1px solid var(--primary-color);
                        font-size: 15px;
                        font-weight: 500;
                        border-radius: 10px;
                        background: transparent;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        gap: .4rem;
                        transition: all .3s;

                        &:hover {
                            background: var(--primary-color);
                            color: #fff;
                        }

                        &:disabled {
                            opacity: .5;
                            cursor: wait;
                        }
                    }
                }
            }
        }
    }

    .marquee {
        display: flex;
        margin: 2rem 0 4rem;
        overflow: hidden;

        h1 {
            font-size: 5em;
            white-space: nowrap;
            text-transform: uppercase;
            color: var(--txt-color);
        }
    }
}

footer {
    z-index: 100;
    color: #333;
    background: var(--hero-bg);
    width: 100%;
    padding: 30px;

    .content {
        width: 1024px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        gap: 2rem;

        .col {
            .logo {
                display: flex;
                gap: .8rem;
                align-items: center;
                margin: 0 0 20px;

                p {
                    font-size: 26px;
                    font-weight: 700;
                    position: relative;
                    top: 1.5px;
                }
            }

            .desc {
                font-size: 17px;
                font-weight: 400;
                line-height: 1.4rem;
                margin: 0 0 10px;
            }

            .social-links {
                display: flex;
                gap: 1rem;

                svg {
                    cursor: pointer;
                    transition: all .2s;

                    &:hover {
                        color: var(--txt-color);
                    }
                }
            }

            .col-title {
                font-size: 20px;
                font-weight: 700;
                margin: 0 0 1rem;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                li {
                    transition: all .2s;
                    font-size: 17px;
                }

                li.link {
                    cursor: pointer;

                    &:hover {
                        color: var(--txt-color);
                    }
                }

                li.li-grid {
                    display: grid;
                    grid-template-columns: 0fr 1fr;
                    gap: .4rem;

                    svg {
                        color: var(--txt-color)
                    }
                }
            }
        }
    }

    .identity {
        width: 1024px;
        margin: 30px auto;
        border-top: 1px solid #000;
        padding: 20px 0 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            font-size: 14px;
            font-weight: 300;
        }

        ul {
            display: flex;
            gap: 1rem;

            li {
                a {
                    text-decoration: none;
                    color: #000;
                    transition: .2s;

                    &:hover {
                        color: var(--txt-color);
                    }
                }
            }
        }
    }
}

/*Responsive*/

@media (max-width: 1087px) {
    .container {
        width: 90% !important;
    }

    main {
        .box-history {
            width: 90%;
        }

        .services, .projects, .members {
            .cards, .projects-cards, .members-cards {
                grid-template-columns: 0fr 0fr;
            }
        }

        .contact {
            .desc {
                font-size: 22px;
                line-height: 2rem;
            }

            .informations {
                grid-template-columns: 1fr;
                gap: 2rem;

                form {
                    position: initial;
                    box-shadow: initial;
                }
            }
        }
    }

    footer {
        .content {
            grid-template-columns: 1fr 1fr;
            width: 90%;

            .col:nth-child(3) {
                position: relative;
                top: -100px;
            }
        }

        .identity {
            width: 90%;
        }
    }
}

@media (max-width: 952px) {
    main {
        .testimony .testimony-cards {
            grid-template-columns: 0fr 0fr;
        }
    }

    footer {
        .content {
            display: flex;
            flex-direction: column;

            .col:nth-child(3) {
                position: initial;
            }
        }
    }
}

@media (max-width: 890px) {
    * {
        font-size: 18px;
    }

    .menu {
        display: flex;
        cursor: pointer;
    }

    nav {
        .contact-button {
            display: none;
        }

        .nav-link {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            position: fixed;
            top: 0;
            right: 0;
            width: 100%;
            height: 100vh;
            background: var(--hero-bg);
            padding: 10px;
            transform: translateX(100%);
            opacity: 0;
            transition: all .4s;
            will-change: transform, opacity;

            ul {
                display: flex;
                flex-direction: column;
                gap: 0;

                li {
                    padding: 12px 25px;
                    font-size: 18px;

                    &:hover {
                        background: rgba(0, 0, 0, 0.09);
                        color: #000;
                    }
                }
            }


            .header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 20px 25px;

                p {
                    font-size: 20px;
                    font-weight: 500;
                }

                svg {
                    cursor: pointer;
                }
            }
        }
    }

    main {
        .hero {
            .details {
                p:nth-child(1) {
                    font-size: 30px;
                }

                p:nth-child(2) {
                    font-size: 20px;
                }

                img {
                    /*width: 90%;*/
                }
            }
        }

        .marquee {
            h1 {
                font-size: 3em;
            }
        }
    }

    footer {
        .identity {
            ul {
                gap: .3rem;

                li {
                    font-size: 13px;
                }
            }
        }
    }
}

@media (max-width: 840px) {
    main {
        .apropos .container {
            grid-template-columns: 1fr;
        }
    }
}

@media (max-width: 710px) {
    main {
        .services, .projects, .members {
            .cards, .projects-cards, .members-cards {
                grid-template-columns: 0fr;

                .card {
                    width: 390px;
                }
            }
        }
    }

    main {
        .members .members-cards {
            grid-template-columns: 0fr 0fr !important;

            .card {
                width: 200px !important;
            }
        }
    }
}

@media (max-width: 666px) {
    footer .identity ul {
        flex-direction: column;
    }
}

@media (max-width: 630px) {
    nav {
        padding: 0 26px;
        height: 55px;

        .logo {
            gap: .5rem;

            p {
                font-size: 16px;
                font-weight: 600;
                top: 0;
            }

            img {
                height: 25px;
                width: 25px;
            }
        }
    }

    main {
        .title {
            font-size: 26px;
        }

        .testimony .testimony-cards {
            grid-template-columns: 0fr;

            .card {
                width: 310px;
                font-size: 18px !important;
            }
        }

        .hero .details {
            img {
                width: 90%;
            }
        }
    }
}

@media (max-width: 470px) {
    main {
        .members .members-cards {
            grid-template-columns: 0fr !important;

            .card {
                width: 180px;
            }
        }

        .contact {
            .informations {
                form {
                    .form-title {
                        font-size: 20px;
                        text-align: center;
                    }

                    .input {
                        gap: .5rem;

                        label {
                            font-size: 16px;
                        }

                        input {
                            padding: 8px 12px;
                        }
                    }
                }
            }
        }

        .box-history {
            .history-title {
                transform: translateX(80px);
                &::before {
                    left: -80px;
                    width: 70px;
                }
            }
            .sub-title {
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 430px) {
    main {
        .services, .projects, .members {
            .cards, .projects-cards, .members-cards {
                grid-template-columns: 0fr;
                .card {
                    width: 310px;
                    margin: 0 10px;
                }
            }
        }
    }
}

@keyframes iframeLoader {
    to {
        opacity: 0
    }
}

@keyframes loadPage {
    100%{transform: rotate(1turn)}
}